<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h2 class="navbar-brand text-capitalize">
      <%= controller_name %>
    </h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%# <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contacts</a>
        </li> %>
      </ul>
      <%# Button group for sign in and sign up %>
      <div class="btn-group" role="group" aria-label="Basic example">
        <%# Button to create new based on controller %>
        <% if can? :create, controller_name.classify.constantize %>
          <%= link_to "Add #{controller_name.classify}", new_polymorphic_path(controller_name.classify.constantize), class: "btn btn-outline-secondary" %>
          <% end %>
      </div>
      <%# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
    </div>
  </div>
</nav>