<h1>Editing permissions role</h1>

<%= render "form", permissions_role: @permissions_role %>

<br>

<div>
  <%= link_to "Show this permissions role", @permissions_role %> |
  <%= link_to "Back to permissions roles", permissions_roles_path %>
</div>
