<div id="<%= dom_id region %>">
  <p>
    <strong>Name:</strong>
    <%= region.name %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= region.remarks %>
  </p>

  <p>
    <strong>User:</strong>
    <%= region.user_id %>
  </p>

</div>
